[bumpversion]
commit = True
tag = True
current_version = 0.2.0
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+))?
serialize = 
	{major}.{minor}.{patch}

[bumpversion:file:VERSION]
search = v{current_version}
replace = v{new_version}

[bumpversion:file:./Directory.Build.props]
search = <Version>{current_version}</Version>
replace = <Version>{new_version}</Version>
